body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
  background: #161b22;
}

.glow {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc;
}

/* SECTIONS */
.section {
  text-align: center;
  padding: 40px;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARDS */
.card {
  background: #161b22;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #00ffcc;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ffcc;
}

/* PROJECTS */
.projects ul {
  list-style: none;
  padding: 0;
}

.projects li {
  padding: 8px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #161b22;
  margin-top: 20px;
}
